{% extends "layout.html" %} {% block body %}

<div
  class="pa4-l vh-100 flex flex-column content-center justify-center items-center"
>
  <a href="/"
    ><img class="w3 ma4" alt="bookcase" src="/static/bookcase.svg"
  /></a>
  <form action="/query" method="GET" class="w-70">
    <div
      class="georgia cf bn ma0 pa0 flex flex-column content-center justify-center items-center"
    >
      <label class="clip" for="search">Search for books:</label>
      <input
        class="pa2 input-reset ba b--black-20 bg-white w-100"
        {% if placeholder %}
          placeholder="{{ placeholder }}"
        {% else %}
          placeholder="Book title..."
        {% endif %}
        type="text"
        name="search"
        value=""
        id="search"
      />
      <input
        class="bn ma4 button-reset f6 link dim ph3 pv2 dib white bg-black"
        type="submit"
        value="Search for Books!"
      />
    </div>
  </form>
</div>

{% endblock %}
