{% extends "layout.html" %} {% block body %}
<header
  class="z-5 top-0 bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-ns flex flex-row"
>
  <a href="/"
    ><img class="mr3 ml3 w2" alt="bookcase" src="/static/bookcase.svg"
  /></a>
  <form action="/query" method="get" class="w-80 fl">
    <fieldset class="cf bn ma0 pa0">
      <label class="clip" for="search">Search for books:</label>
      <input
        class="pa2 input-reset ba bg-white w-100"
        placeholder="{{ search | title }}"
        type="text"
        name="search"
        value=""
        id="search"
      />
    </fieldset>
  </form>
</header>
<div class="pa2 mt6">
  {% for book in data["items"] %}
  <div class="overflow-hidden fl w-50 mw-50 w-25-ns mw-25-ns pa2">
    <a href="{{ book.infoLink }}" class="db link dim tc">
      <img
        src="{{ book.imageLinks.thumbnail }}"
        alt="{{ book.title }} book cover"
        class="center h4 h5-ns db outline black-10"
      />
      <dl class="mt2 f6 lh-copy h4">
        <dt class="clip">Title</dt>
        <dd class="ml0 black truncate mw-100">{{ book.title }}</dd>
        <dt class="clip">Author(s)</dt>
        <dd class="ml0 gray truncate mw-100">{{ book.authors }}</dd>
        <dt class="clip">Publisher(s)</dt>
        <dd class="ml0 f7 i gray truncate mw-100">{{ book.publisher }}</dd>
      </dl>
    </a>
  </div>
  {% endfor %}
</div>
<div class="mw-50 flex items-center justify-center pa4">
  {% if start - 21 >= 0 %}
  <a
    href="/query?search={{ search }}&start={{ start - 21 }}"
    class="f6 f5-ns no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa2 pa3-ns ba border-box mr4"
  >
    <svg
      class="w1"
      data-icon="chevronLeft"
      viewBox="0 0 32 32"
      style="fill:currentcolor"
    >
      <title>chevronLeft icon</title>
      <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
    </svg>
    <span id="prev" class="pl1">Previous</span>
  </a>
  {% endif %}
  <span class="tc f7 f6-ns">Results {{ start }}-{{ count }}</span> {% if
  data["items"]|length == 20 %}
  <a
    href="/query?search={{ search }}&start={{ start + 19 }}"
    class="ml4 f6 f5-ns no-underline black bg-animate hover-bg-black hover-white
    inline-flex items-center pa2 pa3-ns ba border-box"
  >
    <span id="next" class="pr1">Next</span>
    <svg
      class="w1"
      data-icon="chevronRight"
      viewBox="0 0 32 32"
      style="fill:currentcolor"
    >
      <title>chevronRight icon</title>
      <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
    </svg>
  </a>
  {% endif %}
</div>
{% endblock %}
